@media (min-width: 1100px) {

  .fl-box h1{
    font-size: 4rem;
  }

  .fl-box h2{
    font-size: 2.5rem;
  }

  /* .d-modal-contents .risk.list-container{
    height: calc(100vh - 270px);
  } */

  .d-modal-contents h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .incubation-container span{
    font-size: 1.3rem;
  }

  .incubation-container h3{
    font-size: 2.3rem;
    margin: 0;
  }

  .incubation-container img{
    height: 70px;
  }

  .list-container img{
    height: 100px;
  }

  .list-container strong{
    font-size: 1.2rem;
  }

}
